-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: antrian_igd
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `antrian_call_locks`
--

DROP TABLE IF EXISTS `antrian_call_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `antrian_call_locks` (
  `id` tinyint(3) unsigned NOT NULL,
  `locked_by` varchar(100) DEFAULT NULL,
  `locked_until` datetime(3) DEFAULT NULL,
  `updated_at` datetime(3) NOT NULL DEFAULT current_timestamp(3) ON UPDATE current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antrian_call_locks`
--

LOCK TABLES `antrian_call_locks` WRITE;
/*!40000 ALTER TABLE `antrian_call_locks` DISABLE KEYS */;
INSERT INTO `antrian_call_locks` VALUES (1,'Loket IGD','2026-06-26 16:23:59.142','2026-06-26 16:23:47.142');
/*!40000 ALTER TABLE `antrian_call_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `antrian_sequences`
--

DROP TABLE IF EXISTS `antrian_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `antrian_sequences` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_date` date NOT NULL,
  `type` varchar(20) NOT NULL,
  `last_sequence` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_antrian_sequence_date_type` (`ticket_date`,`type`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antrian_sequences`
--

LOCK TABLES `antrian_sequences` WRITE;
/*!40000 ALTER TABLE `antrian_sequences` DISABLE KEYS */;
INSERT INTO `antrian_sequences` VALUES (1,'2026-06-24','IGD',4,'2026-06-24 18:17:34','2026-06-24 18:36:16'),(2,'2026-06-24','RANAP',3,'2026-06-24 18:20:04','2026-06-24 19:43:32'),(3,'2026-06-24','EMERGENCY',1,'2026-06-24 18:21:53','2026-06-24 18:21:53'),(4,'2026-06-26','RANAP',3,'2026-06-26 15:55:10','2026-06-26 16:12:52'),(5,'2026-06-26','EMERGENCY',3,'2026-06-26 15:55:24','2026-06-26 16:15:00'),(6,'2026-06-26','IGD',4,'2026-06-26 15:55:26','2026-06-26 16:14:57');
/*!40000 ALTER TABLE `antrian_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `antrian_tickets`
--

DROP TABLE IF EXISTS `antrian_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `antrian_tickets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_date` date NOT NULL,
  `type` varchar(20) NOT NULL,
  `prefix` varchar(2) NOT NULL,
  `sequence` int(11) NOT NULL,
  `number` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'WAITING',
  `counter_name` varchar(100) DEFAULT NULL,
  `call_count` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `called_at` datetime DEFAULT NULL,
  `served_at` datetime DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_antrian_ticket_date_type_sequence` (`ticket_date`,`type`,`sequence`),
  UNIQUE KEY `uniq_antrian_ticket_date_number` (`ticket_date`,`number`),
  KEY `idx_antrian_status_date_type_sequence` (`ticket_date`,`status`,`type`,`sequence`),
  KEY `idx_antrian_called_date_counter` (`ticket_date`,`counter_name`,`called_at`),
  KEY `idx_antrian_number` (`number`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antrian_tickets`
--

LOCK TABLES `antrian_tickets` WRITE;
/*!40000 ALTER TABLE `antrian_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `antrian_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL DEFAULT 'User',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2b$10$A4Gkg2SUcQWsPITaid1tx.DM6zFJOqH4.lH02jhXnv3lPbeTzlY3O','Admin','2026-06-24 18:16:48'),(2,'loket1','$2b$10$cTT7Zz3DDRqALnKaAC1fYeqyqad16U5WWUayz3oNPEQgAiVGOrEiK','Loket IGD','2026-06-24 19:36:55'),(3,'loket2','$2b$10$/sNh3GeDrZlk20HI.oeKHOpSKRgT1yNqqnH5gkiU0cJ5LEihtSKyu','Loket Rawat Inap','2026-06-24 19:37:06');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-26 16:26:39
